{% extends "base.html" %}

{% block content %}
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Databases - for free!</h1>
  <p>There are <strong>{{ running_containers|length }}</strong> containers running:</p>
  <ul>
    {% for container in running_containers %}
      <li>
        <strong>{{ container.id }}</strong>
        <ul>
          {% for key, value in container.items %}
            <li>{{ key }}: {{ value }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
  <p>
    <a class="btn btn-lg btn-primary" href="{% url 'create' 'mysql' %}" role="button">Create a new container &raquo;</a>
  </p>
</div>
{% endblock %}      