{% extends "base_update.html" %}

{% block nav_my_databases %}<li class="active"><a href="{% url 'container_list' %}">My databases</a></li>{% endblock %}

{% block content %}
<section>
    <div class="container">
        <h1>Your databases</h1>
        <p>You have <strong>{{ container_list|length }} databases.</strong></p>

        <table class="table table-striped table-hover">
          <tr>
            <th>Name</th>
            <th>Type</th>
            <!-- <th>Dataset</th> -->
            <th>Created</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          {% for container in container_list %}
            {% if container.is_running %}
              <tr class="success">
                <td><a href="{{ container.get_absolute_url }}"><strong>{{ container.name }}</strong></a></td>
            {% else %}
              <tr>
                <td><strong>{{ container.name }}</strong></td>
            {% endif %}
              <td>{{ container.database }}</td>
              <!-- <td>{{ container.dataset.name }}</td> -->
              <td>{{ container.created }}</td>
              <td>
                {% if container.is_running %}
                  Running
                {% else %}
                  Stopped
                {% endif %}
              </td>
              <td>
                {% if container.is_running %}
                  <a class="btn btn-xs btn-primary" href="{% url 'stop_container' container.container_id %}" role="button">Stop</a>
                {% else %}
                  <a class="btn btn-xs btn-success" href="{% url 'start_container' container.container_id %}" role="button">Start</a>
                {% endif %}
                <a class="btn btn-xs btn-danger" href="{% url 'delete_container' container.container_id %}" role="button">Delete</a>
            </tr>
          {% endfor %}
        </table>
    </div>
</section>
{% endblock %}      