{% extends "base_update.html" %}

{% block nav_home %}<li class="active"><a href="{% url 'home' %}">Home</a></li>{% endblock %}

{% block content %}
<!-- Main component for a primary marketing message or call to action -->
<div id="jumbo" class="jumbotron">
    <div class="container">
        <h1 class="text-right">Learn databases</h1>
        <p class="lead text-right">Play with your pick of the leading DBs</p>
    </div>
</div>
<section id="our-services">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="service">
                    <span class="service-icon">
                    <i class="fa fa-book"></i>
                    </span>
                    <div class="service-details">
                        <h4>Learn</h4>
                        <p>Learn databases the best way - by working with real, live databases.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="service">
                    <span class="service-icon">
                    <i class="fa fa-cog"></i>
                    </span>
                    <div class="service-details">
                        <h4>Experiment</h4>
                        <p>Picking the right tool for your data work is important. Experiment with different databases, all ready to be hooked up to your prototype applications.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="service">
                    <span class="service-icon">
                    <i class="fa fa-globe"></i>
                    </span>
                    <div class="service-details">
                        <h4>Do good</h4>
                        <p>Hack away at public data sets that are pre-loaded into databases for you. Working with public data has never been so easy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="databases">
    <div class="container">
        <div class="subpage-title">
            <h5>Available databases</h5>
        </div>
        <div class="row">
            {% for database in database_list %}
                <div class="col-sm-6 col-md-4 team-member">
                    <div class="member-thumb text-center">
                        <img src="{{ STATIC_URL }}img/dbs/{{ database.image }}.png" alt="{{ database }} logo">
                    </div>
                    <div class="member-details text-center">
                        <h4>{{ database.name }}</h4>
                        <p class="text-left">{{ database.short_description }}</p>
                        <a class="btn btn-lg btn-primary" href="{{ database.get_create_url }}" role="button">Try {{ database.name }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<section id="datasets" class="pad-top-25">
    <div class="container">
        <div class="subpage-title">
            <h5>Public data sets</h5>
        </div>
        <div class="row">
            {% for set in datasets %}
                <div class="col-sm-6 col-md-4 team-member">
                    <div class="member-thumb text-center">
                        <!-- <img src="{{ STATIC_URL }}img/dbs/{{ set.image }}.png" alt="{{ database }} logo"> -->
                    </div>
                    <div class="member-details text-center">                   
                        <h4>{{ set.name }}</h4>
                        <p class="text-left">{{ set.short_description }}</p>
                        <a class="btn btn-lg btn-primary" href="{{ set.get_create_url }}" role="button">Explore {{ set.name }} data</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}