{% extends "base_update.html" %}

{% block content %}
<!-- Main component for a primary marketing message or call to action -->
<div id="jumbo" class="jumbotron">
    <div class="container">
        <h1 class="text-right">Learn databases</h1>
        <p class="lead text-right">Play with your pick of the leading DBs. There are <strong>{{ all_containers }}</strong> containers running.</p>
    </div>
</div>
<section>
    <div class="container">
        <h2>Available databases</h2>
        <div class="row">
            {% for database in database_list %}
                <div class="col-md-4">
                    <h3>{{ database.name }}</h3>
                    <p>{{ database.description }}</p>
                    <a class="btn btn-lg btn-primary" href="{{ database.get_create_url }}" role="button">Start a {{ database.name }} database</a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
