#jumbo {
    background-image:url('https://s3.amazonaws.com/db_conservatory/table_compressed.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    color: rgb(255, 255, 255);
}

.db-description {
    margin-right: 20px;
    margin-left: 20px;
}